<div mat-dialog-title>
    <h6>{{data ? 'Update Project' : 'Save Project'}}</h6>
</div>

<!-- Create Project Form -->
<form [formGroup]="projectForm" (ngSubmit)="OnFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput type="text" placeholder="Ex. John@doa.yaml" formControlName="title">
                    <mat-error *ngIf="submitted && projectForm.get('title')?.hasError('required')">
                        Title is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" placeholder="Ex. Project Description" formControlName="description">
                    <mat-error *ngIf="submitted && projectForm.get('description')?.hasError('required')">
                        Description is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input matInput type="date" formControlName="start_date">
                    <mat-error *ngIf="submitted && projectForm.get('start_date')?.hasError('required')">
                        Start date is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input matInput type="date" formControlName="end_date">
                    <mat-error *ngIf="submitted && projectForm.get('end_date')?.hasError('required')">
                        End date is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="CANCELED">CANCELED</mat-option>
                        <mat-option value="IN_PROCESS">IN_PROCESS</mat-option>
                        <mat-option value="READY">READY</mat-option>
                        <mat-option value="FINISHED">FINISHED</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && projectForm.get('status')?.hasError('required')">
                        Status is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Manager</mat-label>
                    <mat-select formControlName="manager" [(value)]="currentManager">
                        <mat-option *ngFor="let manager of managers" [value]="manager">
                            {{ manager.firstname }} {{ manager.lastname }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && projectForm.get('manager')?.hasError('required')">
                        Manager is required
                    </mat-error>
                </mat-form-field>
            </div>
          <!-- File Upload Section -->
          <div class="col-12">
            <label>Upload File</label>
            <input type="file" (change)="selectFile($event)" />
            <button mat-raised-button color="primary" class="ml-2"  (click)="upload()">
              Upload
            </button>
          </div>

          <!-- Display success or error messages -->
          <div class="col-12 mt-2" *ngIf="message">
            <div class="alert alert-secondary">{{ message }}</div>
          </div>
        </div>
    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" class="save" type="submit">Save</button>
    </div>
</form>
