<div mat-dialog-title>
    <h6>{{data ? 'Update Project' : 'Save Project'}}</h6>
</div>

<!-- Create Project Form -->
<form [formGroup]="tasktForm" (ngSubmit)="OnFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput type="text" placeholder="Ex. John@doa.yaml" formControlName="title">
                    <mat-error *ngIf="submitted && tasktForm.get('title')?.hasError('required')">
                        Title is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" placeholder="Ex. Project Description" formControlName="description">
                    <mat-error *ngIf="submitted && tasktForm.get('description')?.hasError('required')">
                        Description is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input matInput type="date" formControlName="start_date">
                    <mat-error *ngIf="submitted && tasktForm.get('start_date')?.hasError('required')">
                        Start date is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input matInput type="date" formControlName="end_date">
                    <mat-error *ngIf="submitted && tasktForm.get('end_date')?.hasError('required')">
                        End date is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="CANCELED">CANCELED</mat-option>
                        <mat-option value="IN_PROCESS">IN_PROCESS</mat-option>
                        <mat-option value="READY">READY</mat-option>
                        <mat-option value="FINISHED">FINISHED</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && tasktForm.get('status')?.hasError('required')">
                        Status is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Employee</mat-label>
                    <mat-select formControlName="employee" [(value)]="currentEmployee">
                        <mat-option *ngFor="let employee of employees" [value]="employee">
                            {{ employee.firstname }} {{ employee.lastname }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && tasktForm.get('employee')?.hasError('required')">
                        Manager is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Project</mat-label>
                    <mat-select formControlName="project" [(value)]="currentProject">
                        <mat-option *ngFor="let project of projects" [value]="project">
                            {{ project.title }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && tasktForm.get('project')?.hasError('required')">
                        Manager is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" class="save" type="submit">Save</button>
    </div>
</form>
